.banner-section {
    padding: 150px 0 220px;
    @include breakpoint(max-lg) {
        padding: 100px 0;
    }
    @include breakpoint(max-md) {
        padding: 60px 0;
    }
}
.banner-content {
    &__text1 {
        font-weight: 600;
    }
    &__text2 {
        font-weight: 600;
    }
}